body{
  font-family: 'Modern Antiqua', cursive;
  color: rgb(255, 255, 255);
  margin: 0;
}
video{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}
.section{
  background-color: white;
  padding-left: 10.5%;
}
#emailLogin, #passwordLogin{
  background-color: rgba(6, 39, 24, 0.568);
  border:  0.05em solid #A8A8A8;
  border-radius: 1em;
}
.btn{
  border-radius: 1em;
}
.btn-flat-small grey{
  border-radius: 2em;
}
h5, a, h6{
  color:black
  
}
h5{
  font-size: 144%;
}
#cuadro {
  background-color: rgba(250, 250, 250, 0.493);
  border-radius: 10px;
  padding: 1.8%;
}
#cuadro2{
  background-color: rgba(250, 250, 250, 0.01);
  padding: 1.8%;
}


